# This is the URL that will be used to load captcha
CAPTCHA_URL=""

# Thats the captcha secret that you will get from https://www.google.com/u/0/recaptcha/admin
CAPTCHA_SECRET=""

# For prisma
DATABASE_URL=""

# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET=""

# Needed for authjs to configure login via github - https://github.com/settings/developers
AUTH_GITHUB_ID=""

# Needed for authjs to configure login via github - https://github.com/settings/developers
AUTH_GITHUB_SECRET=""

# Needed for authjs to configure login via google - https://console.cloud.google.com/apis/credentials
AUTH_GOOGLE_ID=""

# Needed for authjs to configure login via google - https://console.cloud.google.com/apis/
AUTH_GOOGLE_SECRET=""

# This is a setting for authjs again. Always set it to true.
AUTH_TRUST_HOST=true